body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0b1416;
	position: fixed;
	width: 100%;
	height: 100%;
	background-repeat: repeat-x;
	background-size: 100vh;
}
